<?php declare(strict_types=1);

use Palmtree\PhpCsFixerConfig\Config;

$config = new Config();

$config
    ->setCacheFile(__DIR__ . '/var/.php_cs.cache')
    ->setRules(array_merge($config->getRules(), [
        'phpdoc_to_comment'          => false,
        'no_superfluous_phpdoc_tags' => ['allow_mixed' => true],
    ]))
    ->getFinder()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests')
    ->in(__DIR__ . '/examples')
    ->append([__FILE__]);

return $config;
