<?php

use Palmtree\PhpCsFixerConfig\Config;

$config = new Config();

$config->setRules(array_merge($config->getRules(), ['phpdoc_to_comment' => false]));

$config
    ->getFinder()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests')
    ->in(__DIR__ . '/examples')
    ->append([__FILE__]);

return $config;
